<div nav-bar-user></div>
<!-- Full Width Column -->
<div class="content-wrapper">
  <div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Appointments</h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i>
            Home</a>
        </li>
        <li>
          <a href="#">Examples</a>
        </li>
        <li class="active">Blank page</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-orange">
            <div class="box-header with-border">
              <h3 class="box-title">My Appointments</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
									<div ng-controller="AppointmentTableCtrl as showCase">
		                <button type="button" ng-click="reload()" class="btn btn-info" name="button"><i class="fa fa-refresh" aria-hidden="true"></i></button>
		                <table datatable="" dt-options="showCase.dtOptions" dt-instance="showCase.dtInstance" dt-columns="showCase.dtColumns" class="table table-striped table-bordered"></table>
		              </div>
                </div>

              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              {{role}}
            </div>
            <!-- /.box-footer -->
          </div>
          <div class="box box-orange">
            <div class="box-header with-border">
              <h3 class="box-title">Appointment Requests</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                  <button></div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div ng-controller="PendingAppointmentsRequestTableCtrl as showCase">
                        <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="table table-striped table-bordered"></table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  {{role}}
                </div>
                <!-- /.box-footer -->
              </div>
            </div>
          </div>
        </section>
        <!-- ./main content  -->
      </div>
      <!-- /.container-->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form class="form-horizontal" ng-submit="placeAppoinment()">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <label for="inputEmail3" class=" control-label ">DIT</label>
                    </div>
                    <div class="col-sm-8">
                      <label class="control-label  ">
                        <a href="">{{pendingRequest.Student.studentDitNo}}</a>
                      </label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <label for="inputEmail3" class=" control-label  ">Student Name</label>
                    </div>
                    <div class="col-sm-8">
                      <label class="control-label  ">
                        <a href="">{{pendingRequest.Student.User.userUserName}}</a>
                      </label>
                    </div>
                  </div>
                  <!-- <div class="form-group row">
                    <div class="col-sm-4">
                      <label for="inputEmail3" class=" control-label  ">Student Year</label>
                    </div>
                    <div class="col-sm-8">
                      <label class="control-label  ">
                        <a href="">Student Year</a>
                      </label>
                    </div>
                  </div> -->
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <label for="inputEmail3" class=" control-label  ">Request Title</label>
                    </div>
                    <div class="col-sm-8">
                      <label class="control-label  ">{{pendingRequest.requestTitle}}</label>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-4">
                      <label for="inputEmail3" class=" control-label  ">Request Description</label>
                    </div>
                    <div class="col-sm-8">
                      <label class="control-label  ">{{pendingRequest.requestSmallBref}}</label>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-4">
                      <label for="inputEmail3" class=" control-label  ">Appointment Date</label>
                    </div>
                    <div class="col-sm-8">
											<input type="text" bs-datepicker data-min-date="today" data-autoclose="1" data-date-format="dd-MM-yyyy" type="text" class="form-control" ng-model="pendingRequest.appointmentDate" name="date" ng-change="dataChange()">
                      <p ng-show="(appointmentRequestForm.date.$invalid && appointmentRequestForm.$submitted ) " class="help-block">Date is required.</p>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-4">
                      <label for="enterRequestTitle" class="control-label  ">Time Slot</label>
                    </div>
                    <div class="col-sm-8">
											<!-- <a ng-repeat=" timeSlot in availableTimeSlots" ng-class="{'btn-success text-white' : appointmentRequest.selectedTimeSlot.id == timeSlot.id }" ng-click="selectTimeSlot(timeSlot)" class="btn btn-time-slot btn-default">
												<strong>{{timeSlot.day}}</strong><br>{{timeSlot.fromTime}}-{{timeSlot.toTime}}</a> -->
											<a class="btn btn-time-slot btn-default">
												<strong>{{pendingRequest.appointmentDay}}</strong><br>{{pendingRequest.fromTime}}-{{pendingRequest.toTime}}</a>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <label for="enterRequestTitle" class="control-label  ">Available Rooms</label>
                    </div>
                    <div class="col-sm-8">
											<a ng-repeat=" room in rooms" ng-class="{'btn-success text-white' : pendingRequest.selectedRoom.id == room.id }" ng-click="selectRoom(room)" class="btn btn-time-slot btn-default">
												<strong>{{room.id}}</strong><br>{{room.roomName}}</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit"  class="btn btn-success pull-right">Make Appointment</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /.content-wrapper -->
    <div footer></div>
