@import "AdminLTE.css";
@import "_all-skins.css";

.content-wrapper {
  min-height: 89vh;
}
.navbar {
  background-color: #248 !important;
}
.box-orange {
  border-top-color: #f93;
}
.text-orange {
  color: #f93;
}
.sliit-logo {
  margin: 0 auto;
  max-width: 100px;

}

.text-left {
	text-align: left;
}

.data-row {
  margin-top: 20px;
}

.time-slot-wrapper {
  margin-bottom: 10px;
}

.inline-block {
  display: inline-block;
}

.time-slot-wrapper input[type=number] {
  max-width: 80px;
  text-align: right;
}

.btn-time-slot {
  margin: 10px;
}

.text-white {
  color: white;
}

.table-action-btn {
  margin-left: 10px;
}
