<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Appointments <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#!/hod/appointments/appointment">Appointment List</a></li>
        </ul>
    </li>
</ul>

<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">Feedback Management<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#!/feedback-management/feedback-sessions">Feedback Sessions</a></li>
            <li><a href="#!/feedback-management/report">Feedback Sessions Report</a></li>
            <li><a href="#!/feedback/quiz">Quiz</a></li>
        </ul>
    </li>
</ul>
