<div class="login-box">
    <div class="login-logo">
      <a href=""><img src="images/sllit logo.png" class="img img-responsive sliit-logo" alt=""><b>ARMS</b></a>
    </div>
    <div class="login-box-body">
      <div ng-controller="AuthCtrl">
            <form name="userLoginForm" ng-submit="authenticateLogin(userLoginForm.$valid)" novalidate>
                <div class="row">
                    <div ng-bind-html = "authentication_message" class="col-xs-12 text-center"></div>
                </div>

              <div class="form-group" ng-class="{ 'has-error' : (userLoginForm.username.$invalid && !userLoginForm.username.$pristine) || (userLoginForm.username.$invalid && userLoginForm.$submitted )}">
                <div class="">
                  <input type="text" class="form-control" ng-model="username" name="username" placeholder="Username" required>
                  <p ng-show="(userLoginForm.username.$invalid && !userLoginForm.username.$pristine) || (userLoginForm.username.$invalid && userLoginForm.$submitted ) " class="help-block">Please enter a new user name</p>
                </div>
              </div>


              <div class="form-group" ng-class="{ 'has-error' : (userLoginForm.password.$invalid && !userLoginForm.password.$pristine) || (userLoginForm.password.$invalid && userLoginForm.$submitted )}">
                <div class="">
                  <input type="password" class="form-control" ng-model="password" name="password" placeholder="Password" required>
                  <p ng-show="(userLoginForm.password.$invalid && !userLoginForm.password.$pristine) || (userLoginForm.password.$invalid && userLoginForm.$submitted ) " class="help-block">Please enter a new password</p>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <button type="submit" ng-style="login_btn" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
              </div>

                <div class="row">
                    <div ng-bind-html = "waiting_message" class="col-xs-12 text-center"></div>
                </div>

            </form>
        </div>
    </div>
  </div>
